* text=auto eol=lf

*.asp text
*.aspx text
*.c text
*.gradle text
*.gradle.kts text
*.gs text
*.i18n text
*.java text
*.js text
*.jsp text
*.md text
*.php text
*.pl text
*.properties text
*.py text
*.sh text
*.test text
*.txt text
*.xml text
*.yaml text
*.yml text
*.zst text

*.bat eol=crlf
LICENSE text

*.jar binary
*.png binary
