name: ZAP vs Wavsep - Live image, manual only

on: 
  workflow_dispatch:

jobs:
  scan:
    runs-on: [ubuntu-latest]
    steps:
    - name: Start wavsep
      run: docker run --rm -d -p 8080:8080 owaspvwad/wavsep &
    - name: Start ZAP
      run: |
        docker run --rm -d -p 8090:8090 --network host ghcr.io/zaproxy/zaproxy:nightly zap-x.sh \
          -daemon -host localhost -port 8090 -addonupdate -addoninstall domxss \
          -config "api.addrs.addr.name=.*" -config api.addrs.addr.regex=true -config api.disablekey=true \
          -config database.recoverylog=false -config pscans.maxBodySizeInBytes=10 &
    - name: Run ZAP API script
      env:
        GITHUB_TOKEN: ${{ secrets.ZAPBOT_TOKEN }}
      run: |
        docker run --rm --network host --env ZAPBOT_TOKEN=${{ secrets.ZAPBOT_TOKEN }} zaproxy/zap-testing ./zap-vs-wavsep-1.5.sh \
          -e 61 -n wavsep-1.5-live-RBJ-M-M -t "Rel, Beta, DomXSS"
